@charset "UTF-8";
@font-face {
    font-family: 'Codec-Cold';
    src: url(Fontes/codec-pro.regular.ttf) format('truetype');
}
.login-link-container {
    margin-top: 8px;
    margin-bottom: 15px;
    
}

.login-link {
    color: #e8d3c2;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.3s;
}

.login-link:hover {
    color: #fff;
    text-decoration: underline;
}

.login-link strong {
    font-weight: bold;
}
#banner {
    position: relative;
    height: 600px;
    overflow: hidden;
    background-color: #4c071b;
    
}



.hexagon {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(139, 0, 0, 0.438);
    clip-path: polygon(50% 0%, 
    100% 25%, 
    100% 75%, 
    50% 100%, 
    0% 75%, 
    0% 25%
    );
    animation: flutuar 7s infinite alternate ease-in-out, moverLateralmente 5s infinite alternate ease-in-out, aparecerDesaparecer 8s forwards;
    filter: brightness(0.9);
    opacity: 0;
    z-index: 0;
}


@keyframes flutuar {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(100px) rotate(360deg);
    }
}

@keyframes moverLateralmente {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

@keyframes aparecerDesaparecer {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes EntradaLinhaDiagonal {
    0% { transform: rotate(-45deg) translateX(-100%); }
    100% { transform: rotate(-45deg) translateX(0); }
}

@keyframes EntradaLinhaHorizontal {
    0% { opacity: 0; width: 0; }
    100% { opacity: 1; width: 1; }
}
@keyframes EntradaTexto {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}